@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Log in</title>
</head>
<body style="padding-top: 100px;">
-->
<form role="form">
    <div class="form-group">
        <label name="usuario">Usuario</label>
        <input type="text" name="usuario" class="form-control" id="usuario" placeholder="Colocar Usuario">
        <label name="contraseña">Contraseña</label>
        <input type="password" name="contraseña" class="form-control" id="contraseña" placeholder="Colocar Contraseña">
        <br />
        <button type="submit" class="btn btn-success">Ingresar</button>
    </div>
</form>

<!--
</body>
</html>
-->
